*{
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}
h1{
    font-size: 60px;
    text-align: center;
    color:darkslateblue;
    margin-top: 5%;
    text-decoration: underline;
    text-decoration-color: orange;
}
p{
    font-size: 20px;
    text-align:justify;
    color:black;
    margin-right: 10%;
    margin-left: 10%;
}
footer {
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color:gainsboro;
  color: #fff;
  padding: 20px;
}

#address {
  flex-basis: 50%;
}

#map-container {
  flex-basis: 50%;
  height: 200px;
  position: relative;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#top{
    
}