*{
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  padding: 5px;
  margin-bottom: 20px;
  width: 250px;
  border-radius: 3px;
  border: 1px solid #ccc;
    font-family: 'Poppins', sans-serif;
}

button[type="submit"] {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 50px;
}

button[type="submit"]:hover {
  background-color: #0062cc;
}
h1{
    margin-top: 100px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    color: darkslateblue;
    text-decoration: underline;
    text-decoration-color: orange;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:gainsboro;
  color: black;
  padding: 20px;
}

#address {
  flex-basis: 50%;
}

#map-container {
  flex-basis: 50%;
  height: 200px;
  position: relative;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
